html, body, #app, #app>div {
  height: 100%
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container #app {
  width: 100%;
  height: 100%;
}

.home-container {
  background-image: url(images/pattern.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zipcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50;
}



.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.header {
    font-size: 45px;
    color: #fff;
    font-weight: 100;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(252, 90, 44, 0.89);
  color: #fff;
  padding: 5px;
}

.forecast-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 15px auto;
  border-top: solid;
  border-color: rgba(0,0,0,0.16);
}
.forecast-header {
  font-size: 55px;
  color: #333;
  font-weight: 100;
  text-align: center;
}

.smallDayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.smallDaySubheader {
  font-size: 20px;
  color: #333;
  font-weight: 100;
}
.smallDayWeather {
  height: 130px;
  width: 130px;
}

.largeDayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;

}

.largeDaySubheader {
  font-size: 32px;
  color: #333;
  font-weight: 100;
  margin-bottom: 5px;
  margin-top: 0px;
}
.largeDayWeather {
  height: 200px;
  width: 200px;
  margin: 10px 60px;
}

.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 15px 60px;
}

.weatherDetails {
  font-size: 20px;
  color: #333;
  font-weight: 100;
  margin: 0px;
}
